<html>
    <head>

    </head>
    <style>
        body {
          background-image: url('img11.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
        </style>
    <body>
        <center>
    <h1> MY JOBS!!!</h1><br>
    <h2>Software Testing</h2>
    <h2>Website Developer</h2>
    <h2>Photographer</h2>
    <h2>App Developer</h2>
    <h2>Quality Controller</h2>
</center>
    </body>
</html>